
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myResumeExperienceProjectLabel" translate="resumeApp.resumeExperienceProject.home.createOrEditLabel">Create or edit a Resume Experience Project</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.resumeExperienceProject.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.resumeExperienceProject.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="resumeApp.resumeExperienceProject.index" for="field_index">Index</label>
            <input type="number" class="form-control" name="index" id="field_index"
                    ng-model="vm.resumeExperienceProject.index"
                    required />
            <div ng-show="editForm.index.$invalid">
                <p class="help-block"
                    ng-show="editForm.index.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.index.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="resumeApp.resumeExperienceProject.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.resumeExperienceProject.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="resumeApp.resumeExperienceProject.startTime" for="field_startTime">Start Time</label>
                <div class="input-group">
                    <input id="field_startTime" type="text" class="form-control" name="startTime" datetime-picker="{{dateformat}}" ng-model="vm.resumeExperienceProject.startTime" is-open="vm.datePickerOpenStatus.startTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="resumeApp.resumeExperienceProject.endTime" for="field_endTime">End Time</label>
                <div class="input-group">
                    <input id="field_endTime" type="text" class="form-control" name="endTime" datetime-picker="{{dateformat}}" ng-model="vm.resumeExperienceProject.endTime" is-open="vm.datePickerOpenStatus.endTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="resumeApp.resumeExperienceProject.introduction" for="field_introduction">Introduction</label>
            <input type="text" class="form-control" name="introduction" id="field_introduction"
                    ng-model="vm.resumeExperienceProject.introduction"
                    required ng-maxlength="1024" />
            <div ng-show="editForm.introduction.$invalid">
                <p class="help-block"
                    ng-show="editForm.introduction.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.introduction.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="resumeApp.resumeExperienceProject.responsiility" for="field_responsiility">Responsiility</label>
            <input type="text" class="form-control" name="responsiility" id="field_responsiility"
                    ng-model="vm.resumeExperienceProject.responsiility"
                    required ng-maxlength="1024" />
            <div ng-show="editForm.responsiility.$invalid">
                <p class="help-block"
                    ng-show="editForm.responsiility.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.responsiility.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="resumeApp.resumeExperienceProject.platform" for="field_platform">Platform</label>
            <input type="text" class="form-control" name="platform" id="field_platform"
                    ng-model="vm.resumeExperienceProject.platform"
                    required ng-maxlength="1024" />
            <div ng-show="editForm.platform.$invalid">
                <p class="help-block"
                    ng-show="editForm.platform.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.platform.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="resumeApp.resumeExperienceProject.experience" for="field_experience">Experience</label>
            <select class="form-control" id="field_experience" name="experience" ng-model="vm.resumeExperienceProject.experience" ng-options="resumeExperience as resumeExperience.id for resumeExperience in vm.resumeexperiences track by resumeExperience.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
