
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myResumeExperienceProjectAccomplishLabel" translate="resumeApp.resumeExperienceProjectAccomplish.home.createOrEditLabel">Create or edit a Resume Experience Project Accomplish</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.resumeExperienceProjectAccomplish.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.resumeExperienceProjectAccomplish.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="resumeApp.resumeExperienceProjectAccomplish.accomplish" for="field_accomplish">Accomplish</label>
            <input type="text" class="form-control" name="accomplish" id="field_accomplish"
                    ng-model="vm.resumeExperienceProjectAccomplish.accomplish"
                    ng-maxlength="1024" />
            <div ng-show="editForm.accomplish.$invalid">
                <p class="help-block"
                    ng-show="editForm.accomplish.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="resumeApp.resumeExperienceProjectAccomplish.project" for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" ng-model="vm.resumeExperienceProjectAccomplish.project" ng-options="resumeExperienceProject as resumeExperienceProject.id for resumeExperienceProject in vm.resumeexperienceprojects track by resumeExperienceProject.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
